<div class="hm-layout">
    <div class="hm-row hm-dash-margn">
        <div class="hm-row cm-spcg-dash">
            <h3>Hasil Nilai Round <span id="DashboardDate"></span></h3>
            <div class="hm-row">
                <div class="hm-com-pie hm-com-pie-left">
                    <h4>Round 1</h4>
                    <div id="chart"></div>
                </div>
                <div class="hm-com-pie hm-com-pie-mid">
                    <h4>Round 2</h4>
                </div>
                <div class="hm-com-pie hm-com-pie-mid">
                    <h4>Round 3</h4>
                </div>
                <div class="hm-com-pie hm-com-pie-right">
                    <h4>Round 4</h4>
                </div>
            </div>
        </div>
        <div class="hm-row cm-spcg-dash">
            <h3>Progress Checker <span id="PorgDashboardDate"></span></h3>
            <div class="hm-row hm-row-bar">
                <div id="bar"></div>
            </div>
        </div>
        <div class="hm-row cm-spcg-dash">
            <h3>Nilai Pencapaian Rumah Sakit Tahun <span id="DashboardYear"></span></h3>
            <div class="hm-row hm-row-bar">
                <div id="line"></div>
            </div>
        </div>
        <div class="hm-row cm-spcg-dash">
            <h3>Parameter <span id="ParaDashboard"></span></h3>
            <div class="hm-row hm-row-bar">
                <div id="coloumn"></div>
            </div>
        </div>
        <div class="hm-row cm-spcg-dash">
            <h3>Hasil Pekerjaan Penggantian dan Perbaikan <span id="ValueDashboardDate"></span></h3>
            <div class="hm-row">
                <div class="hm-com-pie hm-com-pie-left">
                    <h4>Round 1</h4>
                    <div id="proval1"></div>
                </div>
                <div class="hm-com-pie hm-com-pie-mid">
                    <h4>Round 2</h4>
                    @*<div id="chart"></div>*@
                </div>
                <div class="hm-com-pie hm-com-pie-mid">
                    <h4>Round 3</h4>
                    @*<div id="chart"></div>*@
                </div>
                <div class="hm-com-pie hm-com-pie-right">
                    <h4>Round 4</h4>
                    @*<div id="chart"></div>*@
                </div>
            </div>
        </div>
    </div>
</div>

